 <!--/ Section Contact-Footer Star /-->
 <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/contact-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Enviame un mensaje
                    </h5>
                  </div>
                  <div>



                      <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarCliente()"  action="" method="post" role="form" class="contactForm">
                   
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input formControlName="nombre" type="text" name="nombre" class="form-control" required placeholder="Su nombre"  data-msg="Please enter at least 4 chars" />
                          
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input formControlName="email" type="email" class="form-control" name="email" required   placeholder="Su correo electronico" data-msg="Please enter a valid email" />
                          
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input formControlName="asunto" type="text" class="form-control" name="asunto" required  placeholder="Asunto"  data-msg="Please enter at least 8 chars of subject" />
                         
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea formControlName="mensaje" class="form-control" name="mensaje" rows="5" required  data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                           
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Enviar</button>
                        </div>
                      </div>
                    </form>



                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Ponte en contacto
                    </h5>
                  </div>
                  <div class="more-info" >
                    <p class="lead">
                      Si necesitas asesoramiento para la creación de una aplicación web, movil, o de cualquier tipo, no dudes en contactarme.
                    </p>
                    <ul class="list-ico" *ngFor="let usuario of usuarios">
                      <li><span class="ion-ios-location"></span> {{usuario.direccion}}</li>
                      <li><span class="ion-ios-telephone"></span> {{usuario.telefono}}</li>
                      <li><a href="https://gmail.com" target="_blank"><span class="ion-email"></span> {{usuario.email}}</a></li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://github.com/cristiansep" target="_blank"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      <li><a href="https://instagram.com/crist_sep" target="_blank"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://twitter.com/crist_sepulveda" target="_blank"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href="https://linkedin.com/in/cristiansep" target="_blank"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--/ Footer /-->
    <app-footer></app-footer>

  </section>
  <!--/ Section Contact-footer End /-->
