<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portafolio
            </h3>
            <p class="subtitle-a">
              Algunos de los proyectos que he realizado.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-md-4" *ngFor="let proyecto of proyectos">
          <div class="work-box"  >
            
              <div class="work-img">
                <img (click)="generarModal(proyecto._id)"  [src]="proyecto.img | imagen:'proyecto'" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{proyecto.nombre}}</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">{{proyecto.date | date:'dd-MM-yyyy'}}</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like" (click)="generarModal(proyecto._id)" >
                      
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
          
            
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <!-- (click)="actualizarImagen(proyecto._id)" -->
  <!-- [routerLink]="['/proyecto',proyecto._id]"  -->