<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row" *ngFor="let usuario of usuarios">
              <div class="col-md-7">
                <div class="row" >
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img [src]="usuario.img | imagen" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7" >
                    <div class="about-info" >
                      <p><span class="title-s">Nombre: </span><span>{{usuario.nombre}}</span></p>
                      <p><span class="title-s">Perfil: </span> <span>{{usuario.perfil}}</span></p>
                      <p><span class="title-s">Email: </span> <span>{{usuario.email}}</span></p>
                      <p><span class="title-s">Telefono: </span> <span>{{usuario.telefono}}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Habilidades</p>
                  <span>ANGULAR</span> <span class="pull-right" >85%</span>
                  <div class="progress" >
                    <div class="progress-bar" role="progressbar" style="width: 85%;"  aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>NODE.JS</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>REACT</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <!-- <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div> -->
                </div>
              </div>
              <div class="col-md-5">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Sobre mi
                    </h5>
                  </div>
                  <p class="lead">
                    {{usuario.desc}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
