<div id="h" class="intro route bg-image" style="background-image: url(assets/img/home-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container" >
         
          <h1 *ngFor="let usuario of usuarios" class="intro-title mb-4">{{usuario.nombre}}</h1>
          <p class="intro-subtitle"><span class="text-slider-items">FullStack Developer, Desarrollo Web, Aplicaciones Moviles</span><strong class="text-slider"></strong></p>
       
        </div>
      </div>
    </div>
  </div>
