  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Servicios
            </h3>
            <p class="subtitle-a">
              Servicios que te pueden interesar.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">DISEÑO WEB</h2>
              <p class="s-description text-center">
                Desarrollo de software adaptables a todos los dispositivos, 
                brindando soluciones funcionales para que su página se vea y sea comoda de usar en cualquier lugar.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">DESARROLLO WEB</h2>
              <p class="s-description text-center">
                Desarrollo web enfocado en brindar excelencia, seguridad e integridad a los sistemas,
                utilizando tecnologias de vanguardia y buenas practicas para obtener el mejor resultado en cada proyecto.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-cloud"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Hosting</h2>
              <p class="s-description text-center">
                Servicios de hosting de alto rendimiento, evaluo y recomiendo la mejor solución a tus necesidades. Hosting, VPS y CloudServer.
              </p>
            </div>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">DESARROLLO DE APLICACIONES MOVILES</h2>
              <p class="s-description text-center">
                Desarrollo de aplicaciónes moviles para IOS y Android, aplicaciónes funcionales y robustas para cualquier necesidad. Despliegue en las tiendas Google Play Store y App Store
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">DISEÑO GRAFICO</h2>
              <p class="s-description text-center">
                Creo la identidad de tu Marca o la re-diseño con conceptos, 
                diseños de calidad, la mejor tecnología y con una metodología 100% enfocada a la Venta.
              </p>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Servicios de marketing</h2>
              <p class="s-description text-center">
                Aumenta las visitas de tu sitio web y aparezca cuando buscan tu producto en los buscadores como Google y los medios digitales, 
                mejorando tu visibilidad y consiguiendo más y mejores clientes.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->
