
<section id="wrapper" >
  <div class="login-register " style="background-image:url(assets/img/portfolio-bg.jpg);">
    <div class="login-box card animated fadeInDownBig">
      <div class="card-body">

        <form ngNativeValidate #f="ngForm" class="form p-t-20" (ngSubmit)="ingresar(f)">
          <h3 class="box-title m-b-20">Iniciar Sesión</h3>
          <div class="form-group ">
            <div class="col-xs-12">
              <input ngModel name="email" class="form-control" type="email" required placeholder="Email"> </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input ngModel name="pass" class="form-control" type="password" required placeholder="Contraseña"> </div>
          </div>
          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Ingresar</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
              
            </div>
          </div>
          <!-- <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                
                ¿No tienes una cuenta? <a routerLink="/register" class="text-info m-l-5"><b>Regístrate</b></a>
            </div>
        </div> -->
          
        </form>

      </div>
    </div>
  </div>
</section>






