  <!--/ Nav Star /-->
  <app-navbar></app-navbar>


  <!--/ Intro Skew Star /-->
  <app-header></app-header>


  <!--/ Section About /-->
 <app-about></app-about>

<!--/ Section Services Star /-->
<app-star-services></app-star-services>

<!--/ Section Counter /-->
<app-mostrador></app-mostrador>


  <!--/ Section Portfolio Star /-->
  
  <app-portfolio></app-portfolio>

 <!--/ Section Contact-Footer Star /-->
 <app-contact></app-contact>



 <!-- <app-modal-upload></app-modal-upload> -->
 <app-project-modal></app-project-modal>


 <!-- Curriculum -->
 <app-resume></app-resume>
